<%- include('partials/header') -%>

<div class="container-fluid">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Signed up successfully!</h4>
        <p>Congratualtions! You've successfully created an account with us!</p>
        <hr>
        <p class="mb-0">You may now proceed to log into our portal to use the apps!</p>
    </div>
</div>

<%- include('partials/footer') -%>