body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    margin: 10px 0;
}

.container-fluid {
    padding: 5%;
    width: 70%;
}

/* Nav Bar */
.nav-item {
    margin: 0 10px;
}